/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap'); */

:root {
    --font-family: "Inter", sans-serif;

    --primary-color: #1c28ab;
    --secondary-color: #5758bd;
    --tertiary-color: #f7dd07;

    --hover-color: #fbfbfb;
    
    --dark-color: #424242;
    --light-color: #ecedf2;
    --ultra-light-color: #ecedf240;
    
    --white-color: #ffffff;

    --info-color: #00b9ff;
    --success-color: #00a059;
    --warning-color: #e2c900;
    --danger-color: #dc3545;

    --borders: 1px solid #c3c3c3;
    --box-shadow: #00000029 0px 1px 4px;

    /* Lib toastify de alerts */
    --toastify-icon-color-info: var(--info-color);
    --toastify-icon-color-success: var(--success-color);
    --toastify-icon-color-warning: var(--warning-color);
    --toastify-icon-color-error: var(--danger-color);
    --toastify-font-family: var(--font-family);

    --toastify-toast-width: 520px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-color: var(--light-color);
    font-family: var(--font-family);
}


